html,body{
	width:100%;
	height:100%;
}
body,textarea{
	margin:0px;
	background-color:black;
	color:white;
	font-family:Consolas;
	font-size:15px;
}
textarea{
	tab-size:4;
}
svg{
	background:#444444;
	user-select:none;
}
svg *{
	pointer-events:none;
}
svg:not(.nyala,.mati):hover{
	background:#666666;
}
input{
	background:#002200;
	color:white;
	border:none;
	padding:0px;
	font-family:inherit;
}
table,tr,td{
	border:2px solid #004400;
	border-collapse:collapse;
}
tbody{
	display:none;
}
td{
	padding:0px;
}
td > input{
	background:none;
	width:50px;
}
#moutex{
	text-wrap: nowrap;
	background:#000000bb;
	outline:1.2px solid white;
	color:yellow;
	padding:3px;
	position:absolute;
	pointer-events:none;
}
#flex1{
	display:flex;
	flex-direction:column;
	height:100%;
}
#flex1atas{
	overflow-y:scroll;
	resize:vertical;
}
#canv{
	width:100%;
	height:9px;
}
#speed,#colorpos{
	cursor:w-resize;
}
#inptime,#inpspeed{
	width:100%;
}
#timecontrol{
	min-width: 77px;
	max-width: 77px;
}
#timeline{
	flex: auto;
	overflow-x:scroll;
}
#timebutton > svg{
}
#flex0{
	flex:auto;
	display:flex;
	height:0px;
}
#menu{
	width:33px;
	min-width: 33px;
	overflow-y:scroll;
}
#area{
	background:#00000066;
	font-family:Consolas;
	overflow:scroll;
	resize:horizontal;
	text-wrap: nowrap;
	width:50%;
}
#area > div{
	display:flex;
}
#area > div > textarea{
	text-wrap: nowrap;
	background:#00224400;
	color:white;
	text-align:left;
	flex:none;
	resize:none;
	overflow:hidden;
	border:none;
	padding:0px;
	min-width:6px;
}
#area > div > textarea:placeholder-shown{
	background:#553300;
}
/*
#area > div > textarea:hover{
	background:#004400;
	outline: 2px dashed cyan;
	outline-offset: -2px;
}
*/
#area > div > textarea:focus{
	background:#111155;
	outline:none;
}
#hasil{
	text-wrap:nowrap;
	flex:auto;
	width:0px;
	overflow:scroll;
	white-space:pre;
}


.tatutup{
	width:0px !important;
	background:currentColor !important;
}
.nyala{
	background:#009900;
}
.mati{
	background:#990000;
}
.dipilih:not(.tatutup){
	background:#003333 !important;
}
.colordipilih{
	background:#553355 !important;
}
.flexrow{
	display:flex;
}
.flexcol{
	display:flex;
	flex-direction:column;
}
.eledisabled{
	filter: brightness(0.4);
}
.muncul{
	display:initial;
}
.tahover{
	outline: 2px dashed currentColor;
	outline-offset: -2px;
}


::-webkit-scrollbar{
  width:11px;
  height:11px;
}
::-webkit-scrollbar-track {
  background: #00ff0044; 
}
::-webkit-scrollbar-thumb {
  background: #00ff00; 
}
::-webkit-scrollbar-corner{
  background: #007700; 
}
::-webkit-scrollbar-corner:hover{
  background: #0077ff; 
}